# Entorno Virtual
venv/
env/
p4-asis/

# Variables de Entorno
.env

# Base de Datos Vectorial
chroma_db/
__pycache__/

# Archivos de sistema
.DS_Store
*.pyc
*.pyo
*.pyd
.Python

# Archivos temporales de Streamlit
.streamlit/

# Logs
*.log

# PDFs grandes
# data/*.pdf
